@charset "UTF-8";
body {
  font-family: 'TT Lakes', sans-serif; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

.header__menu {
  display: flex;
  width: 100%;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  border-bottom: thin solid #D9FFF5;
  background-color: #FFFFFF; }

.header__logo {
  margin-right: auto; }

.header__btn {
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%; }

.header__btn:hover, .header__logo:hover {
  cursor: pointer;
  opacity: 50%; }

.header__divider {
  width: 2px;
  height: 32px;
  border: none;
  margin: 0 20px;
  border-left: 2px solid #EAEAEA;
  border-radius: 1px; }

.header__btn:not(:last-of-type) {
  margin-right: 16px; }

.header__menu--nav {
  display: none; }

.btn__burger {
  background-image: url(./static/burger.svg); }

.btn__call {
  background-image: url(./static/call.svg); }

.btn__chat {
  background-image: url(./static/chat.svg); }

.btn__profile {
  background-image: url(./static/profile.svg); }

.btn__repair {
  background-image: url(./static/repair.svg); }

.btn__checkstatus {
  background-image: url(./static/checkstatus.svg); }

.menu__items {
  display: flex;
  gap: 16px;
  text-align: center;
  padding-right: 32px; }

.label {
  display: none; }

@media (min-width: 768px) {
  .header__menu {
    padding-left: 24px;
    padding-right: 24px;
    min-width: 768px; }
  .header__divider {
    position: relative;
    right: -190px; }
  .header__logo {
    position: relative;
    left: 16px; }
  .header__logo::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    top: 10px;
    left: -15px; }
  .header__menu--nav {
    display: block; } }

@media (min-width: 1440px) {
  .header {
    position: absolute;
    right: 0;
    top: 14px;
    z-index: 1; }
    .header__menu {
      background-color: #F8F8F8;
      justify-content: flex-end;
      padding-top: 32px;
      gap: 16px; }
    .header__logo, .header__divider, .header__menu--nav {
      display: none; }
    .header__btn:not(:last-of-type) {
      margin: 0; }
  .label {
    display: block;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px; }
  .btn--label {
    display: flex;
    width: 168px;
    height: 40px;
    align-items: center;
    gap: 8px;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 0%; }
  .btn--label:hover {
    opacity: 50%;
    cursor: pointer; }
  .btn__burger {
    display: none; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

h1 {
  margin: 0; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #1b1c21; }

.brg {
  background-color: #F8F8F8; }
  .brg__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 320px;
    height: 100%;
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    overflow-y: auto;
    background-color: inherit; }
  .brg__menu--header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 48px; }
  .brg__btn {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    z-index: 1; }
  .brg__btn:hover {
    opacity: 0.5; }
  .brg__logo {
    margin-left: 17px;
    margin-right: auto; }
  .brg__menu--nav {
    margin-bottom: 268px; }
  .brg__menu--items {
    display: flex;
    flex-direction: column;
    gap: 32px; }
  .brg__menu--item {
    position: relative; }
  .brg__menu--item:hover {
    opacity: 50%; }
  .brg__menu--link {
    transition: color 0.5s linear;
    font-weight: bold; }
  .brg__menu--link:focus::before {
    content: '';
    position: absolute;
    left: -16px;
    top: -8px;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

.btn__search {
  background-image: url(./static/search.svg); }

.btn__search:hover {
  opacity: 50%;
  cursor: pointer; }

.btn__close {
  background-image: url(./static/close.svg); }

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 12px;
  margin-bottom: 40px; }
  .contacts--email {
    font-size: 16px;
    font-weight: 700;
    padding-top: 16px; }
  .contacts--phone {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px; }
  .contacts--email:hover, .contacts--phone:hover {
    opacity: 0.5; }

.languages__list {
  display: flex;
  gap: 8px;
  font-size: 16px;
  background-color: transparent;
  font-weight: bold;
  transition: all 0.5s linear;
  box-shadow: none; }

.languages__button:focus {
  opacity: 0.5; }

@media (min-width: 768px) {
  .brg__menu {
    padding-left: 24px; }
    .brg__menu--link:focus::before {
      left: -24px; } }

@media (max-width: 1439px) {
  .brg__menu--hidden {
    display: none; } }

@media (min-width: 1440px) {
  .brg__menu {
    position: static;
    float: left;
    box-shadow: none;
    display: block !important;
    width: 276px;
    height: 1820px; }
    .brg__menu--header {
      padding-top: 24px; }
    .brg__menu--nav {
      margin-bottom: 268px; }
  .btn__close {
    display: none; } }

.main {
  background-color: #F8F8F8;
  padding-top: 16px; }
  .main__title {
    position: relative;
    font-size: 28px;
    text-align: left;
    padding-left: 16px; }
  .main__title::before {
    content: '';
    position: absolute;
    left: -16px;
    top: -3px;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .main__nav {
    padding-top: 24px; }
  .main__text {
    font-size: 14px; }
  .main__text--paragraf {
    padding: 16px; }
  .main__image {
    display: block;
    width: 100%;
    height: auto; }

.nav__items {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll; }

.nav__item {
  padding: 6px 16px;
  border: 2px solid transparent; }

.nav__item:hover {
  border: 2px solid #B8FFEC;
  background-color: white;
  border-radius: 6px; }

.nav__link {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #7E7E82;
  white-space: nowrap; }

.text__paragraf {
  height: auto;
  overflow: hidden; }

.text__paragraf--hidden {
  height: 90px;
  transition: 1s linear;
  transform: translate3d(0, 0, 0); }

.text__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 5px; }

.text__button::before {
  content: '«';
  color: #41F6D7;
  font-size: 24px;
  transform: rotate(-90deg); }

.text__button--hidden::before {
  transform: rotate(90deg); }

.paragraf--hidden {
  height: 370px; }

@media screen and (min-width: 768px) {
  .main {
    padding-left: 8px; }
    .main__title::before {
      left: -8px; }
    .main__text {
      display: flex;
      gap: 48px;
      padding-right: 24px; }
    .main__text--paragraf {
      flex: 1 1 50%; }
    .main__image--wrapper {
      flex: 1 1 50%; }
  .text__paragraf--hidden {
    height: 180px; }
  .paragraf--hidden {
    height: 310px; } }

@media screen and (min-width: 1440px) {
  .main__title {
    padding-top: 32px;
    padding-left: 286px; }
  .main__title::before {
    left: 264px;
    top: 32px; }
  .main__image--wrapper {
    padding-right: 24px; }
  .nav__items {
    flex-wrap: wrap; }
  .text__paragraf--hidden {
    height: 130px; }
  .paragraf--hidden {
    height: 230px; } }

.overlay,
.overlay__brg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  z-index: 99;
  display: none; }

.overlay--active,
.overlay__brg--active {
  display: block; }

.service {
  width: 100%;
  min-width: 320px;
  padding-top: 24px;
  padding-bottom: 12px; }
  .service__title--text {
    margin: 0;
    padding: 16px;
    font-size: 16px;
    color: #7E7E82;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-image: linear-gradient(90deg, #f8f8f8 0, #fff);
    text-transform: uppercase;
    border-top: 1px solid #d9fff5; }
  .service__slider {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px; }
  .service__items {
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    transition-duration: left 0.5s linear; }
  .service__item {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    gap: 16px;
    width: 240px;
    height: 72px;
    background-color: #ffffff; }
  .service__button--show {
    display: none; }

@media (min-width: 768px) {
  .service__slider {
    overflow: visible;
    padding-bottom: 0; }
  .service__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 16px;
    transition: 0.5s linear; }
  .service__item {
    width: 224px; }
  .service__item:hover {
    opacity: 0.5; }
  .service__button--show {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 16px; }
  .service__button--show::before {
    content: '«';
    color: #41F6D7;
    font-size: 24px;
    transform: rotate(-90deg); }
  .button__show--hidden::before {
    transform: rotate(90deg); }
  .hide__brands {
    height: 156px;
    overflow: hidden; }
  .show__brands {
    height: 340px; } }

@media (min-width: 1440px) {
  .service__title {
    padding-left: 286px; }
  .service__items {
    grid-template-columns: repeat(4, 1fr); }
  .service__item {
    width: 240px; }
  .show__brands {
    height: 248px; } }

.swiper {
  display: flex; }
  .swiper-pagination {
    text-align: center; }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #DDDDDD; }
      .swiper-pagination-bullet-active {
        background-color: #B5B6BC; }

.swiper::after {
  content: '';
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  width: 24px;
  height: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2; }

@media (min-width: 768px) {
  .swiper-pagination {
    display: none; } }

.device {
  width: 100%;
  min-width: 320px;
  padding-bottom: 12px; }
  .device__title--text {
    margin: 0;
    padding: 16px;
    font-size: 16px;
    color: #7E7E82;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-image: linear-gradient(90deg, #f8f8f8 0, #fff);
    text-transform: uppercase;
    border-top: 1px solid #d9fff5; }
  .device__slider {
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 16px; }
  .device__items {
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    transition-duration: left 0.5s linear; }
  .device__item {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 160px;
    background-color: #ffffff; }
  .device__name {
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px; }
  .device__btn {
    position: relative;
    padding-top: 84px; }
  .device__button--show {
    display: none; }

@media (min-width: 768px) {
  .device__slider {
    overflow: visible;
    padding-bottom: 0; }
  .device__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 16px;
    transition: 0.5s linear; }
  .device__item {
    width: 224px; }
  .device__item:hover {
    opacity: 0.5; }
  .device__button--show {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 16px; }
  .device__button--show::before {
    content: '«';
    color: #41F6D7;
    font-size: 24px;
    transform: rotate(-90deg); }
  .button__device--hidden::before {
    transform: rotate(90deg); }
  .hide__device {
    height: 160px;
    overflow: hidden; }
  .show__device {
    height: 540px; } }

@media (min-width: 1440px) {
  .device__items {
    grid-template-columns: repeat(4, 1fr); }
  .device__item {
    width: 240px; }
  .device__title {
    padding-left: 286px; }
  .device__device {
    height: 160px; }
  .device__device {
    height: 320px; } }

.prices {
  background-color: #f8f8f8;
  width: 100%;
  min-width: 320px; }
  .prices__title--text {
    padding: 16px;
    font-size: 16px;
    color: #7E7E82;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #f8f8f8 0, #fff);
    border-top: 1px solid #d9fff5; }
  .prices__list {
    display: none; }
  .prices__menu {
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 16px; }
  .prices__types {
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    transition-duration: left 0.5s linear; }
  .prices__type {
    display: flex;
    max-width: 260px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    padding: 16px 16px; }
  .prices__nomination {
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82; }
  .prices__value {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21; }
  .prices__btn {
    width: 119px;
    height: 32px;
    background-color: #ff3e79;
    border-radius: 35px;
    color: #fff;
    margin-left: auto;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700; }
  .prices__btn::after {
    content: '';
    border: 1px solid #fff;
    position: relative;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    left: 6px; }
  .prices__btn:hover {
    cursor: pointer;
    opacity: 50%; }
  .prices__info {
    padding: 16px;
    padding-bottom: 32px; }
  .prices__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    padding-bottom: 20px; }
  .prices__link {
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px; }
  .prices__link:hover {
    cursor: pointer;
    opacity: 50%; }
  .prices__link::after {
    content: '';
    border: 1px solid #ff3e79;
    position: relative;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    left: 6px; }

.term__wrapper {
  display: flex;
  gap: 24px;
  align-items: center; }

@media (min-width: 768px) {
  .prices__nomination {
    display: none; }
  .prices__title--text {
    padding-left: 16px; }
  .prices__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 30px 180px 16px 32px; }
  .prices__menu {
    padding-top: 0;
    padding-bottom: 0; }
  .prices__type {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 64px;
    border: none;
    border-radius: 0%;
    padding: 0px; }
  .prices__type:not(:first-of-type) {
    border-top: 1px solid #eaeaea; }
  .prices__types {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 10px; }
  .prices__text {
    padding-right: 300px; }
  .remont {
    min-width: 348px; }
  .cost {
    min-width: 74px; }
  .term {
    min-width: 81px; } }

@media (min-width: 1440px) {
  .prices__title {
    padding-left: 286px; }
  .prices__text {
    padding-right: 720px; } }

.footer {
  background-color: #f8f8f8; }
  .footer__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70px;
    padding: 16px;
    background: #f8f8f8;
    border-top: 1px solid #d9fff5;
    gap: 16px; }
  .footer__text {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82; }

@media (min-width: 768px) {
  .footer__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer__text:first-of-type {
    text-align: left; }
  .footer__text:last-of-type {
    text-align: right; } }

@media (min-width: 1440px) {
  .footer {
    margin-left: 276px; }
    .footer__container {
      padding-left: 0; } }

.call__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  padding-top: 24px;
  padding-right: 24px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  overflow-y: auto;
  background-color: #fff; }

.call__header {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  border: 4px solid transparent;
  border-left-color: #41f6d7;
  padding-left: 17px; }

.call__input {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding-left: 16px; }
  .call__input--wrapper {
    padding: 24px 16px 16px 14px; }

.call__information {
  padding: 0 16px 18px 14px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82; }

.call__button {
  width: 136px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 35px;
  color: #fff;
  margin-left: 168px; }

.call__button:hover {
  opacity: 50%; }

.modal__information--link {
  color: #ff3e79; }

.btn__close--call {
  background-image: url(./static/close.svg);
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-size: cover;
  margin-left: 16px;
  margin-bottom: 32px; }

.btn__close--call:hover {
  opacity: 50%; }

@media (min-width: 1440px) {
  .call__modal {
    width: 440px;
    border-left: 1px solid #d9fff5; }
  .call__input__wrapper {
    padding-left: 32px;
    padding-right: 32px; }
  .call__header {
    padding-left: 32px; }
  .call__information {
    padding-left: 32px; }
  .call__button {
    margin-left: 272px; }
  .btn__close--call {
    position: fixed;
    top: 32px;
    right: 470px; } }

.call__modal--hide {
  display: none; }

.feedback__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  padding-top: 24px;
  padding-right: 24px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  overflow-y: auto;
  background-color: #fff; }

.feedback__header {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  border: 4px solid transparent;
  border-left-color: #41f6d7;
  padding-left: 17px; }

.feedback__input {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding-left: 16px;
  margin-bottom: 16px; }
  .feedback__input--wrapper {
    padding: 24px 16px 16px 14px; }

.feedback__information {
  padding: 0 16px 18px 14px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82; }

.feedback__button {
  width: 136px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 35px;
  color: #fff;
  margin-left: 168px; }

.feedback__button:hover {
  opacity: 50%; }

.message__input {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 12px; }

.modal__information--link {
  color: #ff3e79; }

.btn__close--feedback {
  background-image: url(./static/close.svg);
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-size: cover;
  margin-left: 16px;
  margin-bottom: 32px;
  z-index: 1; }

.btn__close--feedback:hover {
  opacity: 50%; }

@media (min-width: 1440px) {
  .feedback__modal {
    width: 440px;
    border-left: 1px solid  #d9fff5; }
  .feedback__input--wrapper {
    padding-left: 32px;
    padding-right: 32px; }
  .feedback__header {
    padding-left: 32px; }
  .feedback__information {
    padding-left: 32px; }
  .feedback__button {
    margin-left: 272px; }
  .btn__close--feedback {
    position: fixed;
    top: 32px;
    right: 470px; } }

.feedback__modal--hide {
  display: none; }


/*# sourceMappingURL=style.css.map*/