.header{
  &__menu {
    display: flex;
    width: 100%;
    height: 88px;
    align-items: center;
    justify-content:space-between;
    padding: 24px 16px;
    border-bottom: thin solid #D9FFF5;
    background-color: #FFFFFF;
  }
  &__logo{
    margin-right: auto;
    width: 97px;
    height: 50px;
  }
  &__btn{
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
  }
  &__btn:hover, &__logo:hover{
    cursor: pointer;
    opacity: 50%;
  }
  &__divider {
    width: 2px;
    height: 32px;
    border: none;
    margin: 0 20px;
    border-left: 2px solid #EAEAEA;
    border-radius: 1px;
  }
  &__btn:not(:last-of-type) {
    margin-right: 16px;
  }
  &__menu--nav{
    display:none;
  }
}

  .btn__burger{
    background-image: url('../img/burger.svg');
  }

  .btn__call{
    background-image: url('../img/call.svg');
  }

  .btn__chat{
    background-image: url('../img/chat.svg');
  }

  .btn__profile{
    background-image: url('../img/profile.svg');
  }

  .btn__repair{
    background-image: url('../img/repair.svg');
  }

  .btn__checkstatus{
    background-image: url('../img/checkstatus.svg');
  }

  .menu__items{
    display: flex;
    gap:16px;
    text-align: center;
    padding-right: 32px;
  }

  .label{
    display:none;
   }
   
  @media (min-width: 768px){
    .header{
      &__menu{
      padding-left: 24px;
      padding-right: 24px;
      min-width: 768px;
      }
      &__divider{
        position: relative;
        right: -190px;
      }
      &__logo{
        position: relative;
        left: 16px;
      }
      &__logo::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        top: 10px;
        left: -15px;
      }
      &__menu--nav{
        display: block;
      }
    }
  }

  @media (min-width: 1440px){
    .header{
    position: absolute;
    width: 1110px;
    z-index: 1;
    &__menu{
      background-color:#F8F8F8;
      justify-content: flex-end;
      padding-top: 32px;
      border-bottom: none;
      gap: 16px;
    }
    &__logo, &__divider, &__menu--nav{
      display: none;
    }
    &__btn:not(:last-of-type) {
      margin: 0;
  }
  }
  .label{
    display:block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
  }
  .btn{
    &--label{
      display: flex;
      width: 168px;
      height: 40px;
      align-items: center;
      gap: 8px;
      background-position: right;
      background-repeat: no-repeat;
      border-radius: 0%;
    }
    &--label:hover{
      opacity: 50%;
      cursor: pointer;
    }
    &__burger{
      display: none;
    } 
  }
}
 



